@model MovieWeb.Models.MovieDeleteViewModel

    <span>
        Ben je zeker dat je @Model.Title wil verwijderen??
    </span>
<form asp-controller="Movie" asp-action="ConfirmDelete" asp-route-id="@Model.ID" method="post">
    <button type="submit" class="btn-danger">Ja</button>
    <a asp-controller="Movie" asp-action="@Model.ReturnUrl" asp-route-id="@Model.ID">Nee</a>
</form>