@model IEnumerable<MovieWeb.Models.MovieListViewModel>


<h1>
    All current movies:
</h1>
<table>
    @{ 
        foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <a href="~/js/"></a>
            </tr>
        }
    }
</table>
<p>
    <button onclick="BtnCreateOnClickEvent">Create new movie</button>
</p>